.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 12px;
  bottom: 12px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__notification__ellipsis {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 18px;
  bottom: 18px;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav_btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}

.nav_btn:nth-child(2) {
  animation-delay: 0.2s;
}

.nav_btn:nth-child(3) {
  animation-delay: 0.5s;
}

.nav_btn:nth-child(4) {
  animation-delay: 0.8s;
}
